body {
    background-color: #a7e393;
    color: #333;
}
marquee {
    background-color: #ff0000;
    color: #fff;
    font-size:x-large;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    
}
a {
    color: #0000ff;
}